body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../image/gujian2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.welcome {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 6em;
    font-weight: 600;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.466);
    height: 50%;
    padding-top: 1em;
    margin-block-start: 40%;

}

.container {
    width: 80%;
    margin-left: 10%;
    z-index: 2;
    background-color: transparent;  
}

#navbar {
    overflow: hidden;
    background-color: black;
    top: 0;
    position: fixed;
    width: 100%;
    margin: 0 auto; 
    left: 0px; 
    right: 0px;
    float: clear;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 1.5em;
    z-index: 1;
}

#navbar a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding:14px;
    text-decoration:none;
}

#navbar a:hover{
    color: black;
    background-color: white;
}

.text {
    background-color:rgba(255, 255, 255, 0.8);
    border: 1px double;
    border-radius: 50px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4vmax;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-top: 2em;
}

h2 {
    font-size: 3.5vmax;
    font-weight: 900;
    color:white;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;  
    text-shadow: 2px 2px black;
    background: transparent;
    height: 3em;
}

h3 {
    font-size: 2em;
    height: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:block;
    background-color: black;
    color: white;
    padding: 0;
    margin-top: 0;
    padding-left: 2em;
    border-radius: 50px/50px;
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.4em;
    color: white;
    background-color: rgba(0, 0, 0, 0.377);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 0.1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 60%;
    margin-left: 20%;
    border-radius: 50px/50px;
}

h4:hover {
    color: black;
    background-color: white;
}


p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 2em;
    padding-right: 2em;
}


iframe {
    width: 100%;
}

img {
    max-width: 100%;
}

button {
    font-size: 1em;
    width: 40%;
    float: right;
    margin-right: 10%;
    border-radius: 20px;
    border: 2px dashed;
    background-color: 	rgba(201, 197, 197, 0.548);
}
button:hover {
    background-color: black;
    color: white;
}

.spacer {
    color: transparent;
    background: transparent;
}